/*                                                                                                                                                     
        Name: shravya goli                                                                                                                                      
        Contact: shravya_goli@student.uml.edu                                                                                                                    
        Major: Computer Science   
        GUI programming 1, assignment-7
        School: University of Massachusetts Lowell  
         Date Created: November 15th 2016
*/

body.main {
    min-height: 100%;
    margin-bottom: 2em;
    position: relative;
    
}

h1 {
    color:aqua;
    font-size: 50px;
    font-family: sans-serif;
    border: 5px solid black;
    border-radius: 25px;
}
h2 {
    color: red;
    font-size: 30px;
    font-family: sans-serif;
 
}
html, body {
    background-color:darkseagreen;
    font-family: 'Josefins Sans', sans-serif;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    padding-left: 8%;
    padding-right: 8%;
}
.center {
    text-align: center;
}

 /*CSS code I created to keep the text at the bottom of the page.*/ 
#footer {
    clear: both;
    position: relative;
    text-align: center;
    z-index: 10;
    height: 2em;
    margin-top: 0em;
}

.clearfooter {
    height: 100px;
    clear: both;
}

img.move-top {
    float: right;
    margin-right: 100px;
}

div.move-right {
    position: relative;
    float: right;
    font-size: 12px;
    margin-right: 50px;
}

span.bold-this {
    font-weight: bolder;
}

#slider {
    margin: 10px;
}
.ui-slider-horizontal{ 
    height: 15px;
    width: 200px;
}

.ui-slider .ui-slider-handle {
    height: 5px;
    width: 10px;
    padding-left: 5px;
}

.ital {
    font-style: bold;
}

td {
  background: blue;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  z-index: 3;
  
}


